body {
  font-family: Arial;
  background: linear-gradient(135deg, #e8a87a, #c65089, #a565ea, #7bdaf5);
  margin: 0;
  min-height: 100vh;
}

/* Container */
.container {
  text-align: center;
  padding: 30px;
  color: #ffffff;
}

/* Heading */
h1 {
  font-size: 42px;
  font-weight: bold;
  background: linear-gradient(45deg, #ffffff, #ffe600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input */
input {
  padding: 12px;
  width: 220px;
  border-radius: 25px;
  border: none;
  outline: none;
}

/* Button */
button {
  padding: 12px 18px;
  background: linear-gradient(45deg, #8ad9ef, #64d46e);
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  transform: scale(1.08);
}

/* Weather Card */
.weather-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 20px;
  width: 260px;
  margin: auto;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Error */
.error {
  color: yellow;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 500px) {
  .search-box {
    flex-direction: column;
  }

  input {
    width: 100%;
  }
}
/* Mobile Responsive */
@media (max-width: 600px) {

  .container {
    padding: 15px;
  }

  .search-box {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  input {
    width: 100%;
    max-width: 300px;
  }

  button {
    width: 60%;
  }

  .weather-card {
    width: 85%;
  }

  h1 {
    font-size: 26px;
  }
}